<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enableFirestoreSync</key>
	<true/>
	<key>enableBackfill</key>
	<true/>
	<key>enableLegacyReadFallback</key>
	<true/>
	<key>isMigrationEnabled</key>
	<true/>
	<key>enableCloudKitSync</key>
	<false/>
	<key>showNewProgressUI</key>
	<false/>
	<key>enableAdvancedAnalytics</key>
	<false/>
	<key>maintenanceMode</key>
	<false/>
</dict>
</plist>

